<div class="w-full mt-10 md:mt-12 md:flex md:flex-col md:justify-center md:items-center">

    <!-- text -->
    <div class="w-full md:max-w-[700px] space-y-3">
        <h1 class="text-xl md:text-[32px] text-white text-center">Το Assassin’s Creed στα ελληνικά!</h1>
        <p class="text-sm md:text-base text-white text-center">Η ομάδα μας μετράει 12+ χρόνια λειτουργίας γύρω από το σύμπαν της σειράς, με στόχο την παροχή υλικού υψηλής ποιότητας για ολόκληρη την ελληνική κοινότητα.</p>
        <p class="text-sm md:text-base text-[#E0BC74] text-center">Πλέον, είναι στόχος μας να φέρουμε την γλώσσα μας σε όλη την σειρά.</p>
    </div>
    <!-- / text -->

    <!-- social -->
    <div class="w-full inline-flex justify-center items-center gap-6 mt-10 md:mt-12 pb-10 md:pb-12 border-b-[1px] border-[#1C1C1C]">
        <a href="https://www.youtube.com/assassinscreedgreece" target="_blank"><app-youtube></app-youtube></a>
        <a href="https://www.tiktok.com/@assassinscreedgreece" target="_blank"><app-tiktok></app-tiktok></a>
        <a href="https://www.instagram.com/assassinscreedgreece/" target="_blank"><app-instagram></app-instagram></a>
        <a href="https://www.facebook.com/AssassinsCreedGreece" target="_blank"><app-facebook></app-facebook></a>
        <a href="https://www.twitch.tv/assassinscreedgreece" target="_blank"><app-twich></app-twich></a>
    </div>
    <!-- / social -->

    <!-- card -->
    <app-card></app-card>
    <!-- / card -->
</div>